BOT_TOKEN=''
BOT_PREFIX='!'
BOT_NAME='RABot'
INVITE=false
OWNERS=

# ra.org api credentials
RA_USER=
RA_TOKEN=
RA_WEB_API_KEY=

#role IDs for "self role management"
NEWS_ROLES=
ACHIEVEMENT_NEWS=
COMMUNITY_NEWS=
RETROARCH_NEWS=
EVENT_NEWS=
DEVELOPER_NEWS=
REVISION_VOTING=
ROLE_MOD=

YOUTUBE_API_KEY=

# interval in seconds
GLOBAL_FEED_INTERVAL=60

CHEEVO_WARNING_NUM=11
CHEEVO_SUSPICIOUS_NUM=15

MAX_MEMES=50

CHANNEL_BOTGAMES=
CHANNEL_BOTSPAM=
CHANNEL_CASUAL=
CHANNEL_CHEATING=
CHANNEL_DEV_CHANNELS=
CHANNEL_HOTBOX=
CHANNEL_MASTERY=
CHANNEL_MEME=
CHANNEL_OBSTINATE=
CHANNEL_OFFTOPIC=
CHANNEL_STREAMING_TEXT=
CHANNEL_TICKETS=
CHANNEL_UNLOCKS=

# The Movie DataBase API key
TMDB_KEY=

# Yandex key, used by the translate command
YANDEX_KEY=

# Wordnik key, used by the define command
WORDNIK_KEY=
